{% extends 'body.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card mt-3">
            <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    {{ title }}
                </h3>

            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    {{ form }}
                </div>
                <div class="col-3">
                    <button type="submit"  class="btn btn-success btn-block mt-3">Guardar</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}